<h1>
  <%= "Автобусы #{@from.name} – #{@to.name}" %>
</h1>
<h2>
  <%= "В расписании #{@trips.count} рейсов" %>
</h2>

<div class="trips-container">
  <%= render partial: "trip", collection: @trips, spacer_template: "delimiter" %>
</div>
