<h1>
  <%= "Автобусы #{@from.name} – #{@to.name}" %>
</h1>
<h2>
  <%= "В расписании #{@total_count} рейсов" %>
</h2>

<%= render 'shared/pagination' %>
<%= render partial: 'trip', collection: @trips, spacer_template: 'delimiter' %>
