<h1>
  <%= "Автобусы #{@from.name} – #{@to.name}" %>
</h1>
<h2>
  <%= "В расписании #{@trips.length} рейсов" %>
</h2>

<%= render partial: "trip", collection: @trips, spacer_template: 'delimiter' %>

<% if @trips.length > 0 %>
    <%= render "delimiter" %>
<% end %>
