<h1>
  <%= "Автобусы #{@from.name} – #{@to.name}" %>
</h1>
<h2>
  <%= "В расписании #{@trip_count} рейсов" %>
</h2>


<% prev_trip_id = nil %>

<% trip_size = @trips.size %>
<% i = 0 %>

<% while i < trip_size %>
  <ul>
    <% trip = @trips[i] %>
    <% next_trip = @trips[i + 1] %>

    <% if next_trip.nil? || trip['id'] != next_trip['id'] %>
      <%= render "trip", trip: trip %>
      ====================================================
    <% end %>

    <% i += 1%>
  </ul>
<% end %>
