<h1>
  <%= "Автобусы #{@from.name} – #{@to.name}" %>
</h1>
<h2>
  <%= "В расписании #{@count} рейсов" %>
</h2>

<ul>
  <%= render partial: "trip", collection: @trips, as: :trip %>
  ====================================================
</ul>
