<h1>
  <%= "Автобусы #{@from_name} – #{@to_name}" %>
</h1>
<h2>
  <%= "В расписании #{@trip_count} рейсов" %>
</h2>

<%# @trips.each do |trip| %>
    <%= render partial: "trip", collection: @trips %>

<%# end %>
