/.bundle
/tmp
/log
/public

.idea/.gitignore
.idea/misc.xml
.idea/modules.xml
.idea/rails-optimization-task3.iml
.idea/vcs.xml
lib/profilers/ruby_prof_reports/callstack.html
lib/profilers/ruby_prof_reports/graph.html